/* NAVIGATION BAR */
.banner{
  height: 200px;
  background-color:#fec5bb; 
  
}
.banner_img{
   display: block;
   margin-left: auto;
   margin-right: auto;
   padding-top: 20px; 
   width: 35%; 
}

.topnav{
  background-color: #e57152;
  overflow:hidden;
  display:flex; 
  font-size: 0.5em;
}

.home:hover {
border:solid 5px #fec5bb;
}
.main:hover{
 border:solid 5px #fec5bb;
}

/* Style the links inside the navigation bar */

.topnav a{
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  font-size:3em;
}


.topnav,.main, .menu, .home {
  font-family:Architects Daughter;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}

.main, .home{
  position: relative;
  background-color:#faeded;
  padding: 20px;
  transition: 0.5s;
  border-radius: 50px;
  border-style: solid;
  border-color:#e57152 ;
  overflow: hidden;
  box-shadow: 0 8px 15px rgba(0,0,0,.2);
  height: 50px;
}
.menu {
  margin: 0;
  padding: 0;
  width: 0;
  overflow: hidden;
  transition: 0.7s; 
}
.main input:checked ~ .menu {
  width: 600px;
}
.menu li {
  list-style: none;
  margin: 0 10px;
}
.menu li a {
  text-decoration: none;
  color: #666;
  font-weight: 600;
  transition: 0.5s;
}

.main input {
  width: 40px;
  height: 40px;
  cursor:pointer ;
  opacity: 0;
}
.main span {
  position: absolute;
  left: 30px;
  width: 30px;
  height: 4px;
  border-radius: 50px;
  background-color: #666;
  pointer-events: none;
  transition: 0.5s;
}
.main input:checked ~ span {
  background-color: #FF4D50;
}
.main span:nth-child(2) {
  transform: translateY(-8px);
}
.main input:checked ~ span:nth-child(2) {
  transform: translateY(0) rotate(-45deg);
}
.main span:nth-child(3) {
  transform: translateY(8px);
}
.main input:checked ~ span:nth-child(3) {
  transform: translateY(0) rotate(45deg);
}
.main input:checked ~ span:nth-child(4) {
  display: none;
}


/* Change the color of links on hover */
.topnav a:hover {
  background-color:#e57152;
 
}

.home a:hover{
  background-color:#faeded;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color:#faeded;
  color:#e57152 ;
}

#home-icon{
  height: 30px;
  object-fit:cover;
}

/* BODY */
body{
background-color:#faeded;

}




/* GALLERY */

/* Center website




.main2 {

  margin: auto; 
}
*/

.gallery-filter{
  position: relative;
  top: 50%;
  left:25%; 
}

.row {
  margin: 25px 25px;
}



/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33%;
  display: none; /* Hide all elements by default */
  padding-bottom:50px;
}

/* SMALL SCREENS */

@media only screen and (max-width: 1200px) {
 
  .column img {
    margin-left: 25px;
    padding: 5px;
    width:calc(98vw);
    }


    .content {
    width:calc(99vw);
    }

.layer{
  position: absolute;
  height: 250px;
  width: calc(99vw);
  opacity: 0;
  transition: .5s ease;
  background-color:#fec5bb ;
  color:black;
  font-family:Architects Daughter;
}
}

/* opaque pop-up layer */
.layer{
  position: absolute;
  height: 250px;
  width: calc(30vw);
  opacity: 0;
  transition: .5s ease;
  background-color:#fec5bb ;
  color:black;
  font-family:Architects Daughter;
}

.source{
  color:#666;
  text-decoration: none;
  
}
.source:hover{
  color:black;
}
.content:hover .layer {

  opacity:0.8;
}



/* Clear floats after rows */ 
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  height: auto;
  width:calc(30vw);
  align-content: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.column img {
  margin-left: 25px;
  padding: 5px;
  width:calc(26vw);
  height:250px;

/*Scale down will take the necessary specified space that is height x width without stretching the image*/
   object-fit:scale-down;
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}


/* Style the buttons */
.btn {
  border: none;
  border-radius:30px;
  padding: 12px 16px 16px 16px;
  margin-top: 20px;
  background-color:#faeded;
  border: 1px solid #e57152;
  cursor: pointer;
  box-shadow: 5px;
  width: 100px;
  font-family: Architects Daughter;
  color:#666;
  font-weight: bold;
  position: relative;
}

.btn:hover {
  border:solid 2px white ;
  background-color: #fec5bb;
}

.btn.active {
  background-color:#e57152;
  color: #faeded;
}


  /* FOOTER */

  footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#fec5bb;
    color:#e57152;
    text-align: center;
  }


  .ref {
    font-size: 10px;
    padding: 10px;
  }


/* Style all font awesome icons */
.fa {
  padding-top: 15px;
  color:#e57152;
  text-decoration: none;
  
}

.me, .ref{
  padding: 5px;
  font-family: Architects Daughter ;
}

/* Add a hover effect */
.fa:hover {
  opacity: 0.7;
}

/* FIX weird stuff */

html,body{overflow-x: hidden;}