/* NAVIGATION BAR */
.banner{
    height: 200px;
    background-color:#fec5bb; 
    
}
.banner_img{
     display: block;
     margin-left: auto;
     margin-right: auto;
     padding-top: 20px; 
     width: 35%; 
}

.topnav{
    background-color: #e57152;
    overflow:hidden;
    display:flex; 
    font-size: 0.5em;
    
  }

 .home:hover {
border:solid 5px #fec5bb;
  }
 .main:hover{
   border:solid 5px #fec5bb;
 }

  /* Style the links inside the navigation bar */

  .topnav a{
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    font-size:3em;
  }
 

  .topnav,.main, .home {
    font-family:Architects Daughter;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}
  .main, .home{
    position: relative;
    background-color:#faeded;
    padding: 20px;
    transition: 0.5s;
    border-radius: 50px;
    border-style: solid;
    border-color:#e57152 ;
    overflow: hidden;
    box-shadow: 0 8px 15px rgba(0,0,0,.2);
    height: 50px;
  }


  .menu {
    margin: 0;
    padding: 0;
    width: 0;
    overflow: hidden;
    transition: 0.7s;
  }
  .main input:checked ~ .menu {
    width: 600px;
  }
  .menu li {
    list-style: none;
    margin: 0 10px;
  }
  .menu li a {
    text-decoration: none;
    color: #666;
    font-weight: 600;
    transition: 0.5s;
  }

  .main input {
    width: 40px;
    height: 40px;
    cursor:pointer ;
    opacity: 0;
  }
  .main span {
    position: absolute;
    left: 30px;
    width: 30px;
    height: 4px;
    border-radius: 50px;
    background-color: #666;
    pointer-events: none;
    transition: 0.5s;
  }
  .main input:checked ~ span {
    background-color: #FF4D50;
  }
  .main span:nth-child(2) {
    transform: translateY(-8px);
  }
  .main input:checked ~ span:nth-child(2) {
    transform: translateY(0) rotate(-45deg);
  }
  .main span:nth-child(3) {
    transform: translateY(8px);
  }
  .main input:checked ~ span:nth-child(3) {
    transform: translateY(0) rotate(45deg);
  }
  .main input:checked ~ span:nth-child(4) {
    display: none;
  }

  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color:#e57152;
   
  }

  .home a:hover{
    background-color:#faeded;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color:#faeded;
    color:#e57152 ;
  }

  #home-icon{
    height: 30px;
    object-fit:cover;
  }



/* BODY */
body{
background-color:#faeded;

}

  /* SPLIT SCREEN CONTENT */

 
.box {
    display: flex;
    flex-direction: row;
    font-family: Architects Daughter;
    height:fit-content;
} 

.left {
    width: 50%;
    height: 100vh;
    background-color:#faeded;
    text-align: center;
    color: #666;
    border-right: dashed 0.1px #fec5bb;
}

.right {
    width: 50%;
    color:#666;
    text-align: center;
    background-color:#faeded;
    height: 100vh;
    
}

/* LIST */

 
.list-container {
  margin: 0px;
}
 
.list {
  list-style-type: none;
  width: 600px;
}
 
.list li h3 {
  padding:0px;
  margin:0px;
  font: bold 20px/1.5 ;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.box h1{
  padding:25px;
}
 
.list li img {
  float: left;
  margin: 0 15px 0 0;
  height:60px;
  width:60px;
}
 
.list li p {
  font: 200 12px/1.5 ;
}
 
.list li {
  padding: 10px;
  overflow: auto;

}

.list li a {
  text-decoration: none;
  color: #666;
}
.list a:visited {
  color:#e57152;
}
 
.list li:hover {
  background: #fec5bb;
  cursor: pointer;
}


  
  /* FOOTER */

  footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#fec5bb;
    color:#e57152;
    text-align: center;
  }

  .ref {
    font-size: 10px;
    padding: 10px;
  }


/* FOOTER */
/* Style all font awesome icons */
.fa {
  padding-top: 15px;
  color:#e57152;
  text-decoration: none;
  
}

.me, .ref{
  padding: 5px;
  font-family: Architects Daughter ;
}

/* Add a hover effect  */
.fa:hover {
  opacity: 0.7;
}


/* SMALL SCREENS */

@media only screen and (max-width: 1000px) {

  .box {
  
    flex-direction: column;

} 

.left {
  border-right: none;
}

.list {
  list-style-type: none;
  width: 400px;
}


}



/* SEARCHBAR */
#searchbar{
	margin-left: 10px;
	padding:15px;
	border-radius: 10px;
}

input[type=text] {
	width: 10%;
	-webkit-transition: width 0.15s ease-in-out;
	transition: width 0.15s ease-in-out;
}

/* When the input field gets focus,
		change its width to 30% */
input[type=text]:focus {
	width: 30%;
}


.tutorials{
  display: list-item;    
 } 